services:
    caforum.sidebar.listener:
        class: caforum\sidebar\event\listener
        arguments:
            - '@config'
            - '@template'
        tags:
            - { name: event.listener }
