<form method="post" action="{U_ACTION}">
    <fieldset>
        <legend>Sidebar Links</legend>

        <!-- BEGIN links -->
        <!-- END links -->

        <!-- Loop manuel -->
        <!-- IF true -->
        {% for i in 1..5 %}
        <dl>
            <dt><label>Nom du lien {{ i }} :</label></dt>
            <dd><input type="text" name="sidebar_link{{ i }}_name" value="{{ attribute(_context, 'SIDEBAR_LINK' ~ i ~ '_NAME') }}" /></dd>
        </dl>
        <dl>
            <dt><label>URL du lien {{ i }} :</label></dt>
            <dd><input type="text" name="sidebar_link{{ i }}_url" value="{{ attribute(_context, 'SIDEBAR_LINK' ~ i ~ '_URL') }}" /></dd>
        </dl>
        {% endfor %}
    </fieldset>

    <fieldset class="submit-buttons">
        <input type="submit" name="submit" value="Enregistrer" class="button1" />
    </fieldset>
</form>
